span {
  font-size: 20px;
  color: darkred;
}

p {
  font-size: 20px;
  color: darkred;

}

.spinner{
animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 500px) {
  span {
    font-size: 15px;
    color: darkred;
  }

  p {
    font-size: 15px;
    color: darkred;
  }
}
